.main-message-text {
    text-align: center;
    font-family: "Comfortaa", cursive;
    font-size: 3rem;
    margin-top: 100px;
    color: #00bfff;
    -webkit-text-stroke: 1px #00bfff;
}

.description-text {
    text-align: center;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    color: #adcfdb;
}
.form-element-title {
    color: #00bfff;
    margin-bottom: 0;
}
.form-field {
    border-color: #00bfff;
}
.form-field-red {
    border-color: rgb(246, 80, 80);
}
.message-count {
    color: #adcfdb;
    margin-left: 2rem;
    font-size: 0.7rem;
}
.avatar-button {
    font-size: 1.5em !important;
    font-weight: bold !important;
    transition: all 0.5s !important;
    padding-right: 15px !important;
}
.avatar-button:hover {
    transform: scale(1.1);
}
.avatar-button:hover::after {
    transform: scale(1);
}
.avatar-row {
    width: 20vw;
    /* max-width: 20vw; */
}
.nav-padding {
    padding-top: 18px !important;
}
.navbar-row {
    top: -20 !important;
    left: 20 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
    border-bottom: 1px solid #3390ec;
    width: 100vw;
    backdrop-filter: blur(20px);
}