.main-message-text {
    text-align: center;
    font-family: "Comfortaa", cursive;
    font-size: 3rem;
    margin-top: 100px;
    color: #00bfff;
    -webkit-text-stroke: 1px #00bfff;
}

.description-text {
    text-align: center;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    color: #adcfdb;
}
.avatar-row {
    position: fixed;
    top: -20;
    left: 20;
    margin-top: 0.5rem;
    width: 20vw;
    /* max-width: 20vw; */
}
.navbar-row {
    width: 100vw;
    border-bottom: 1px solid #3390ec;
    backdrop-filter: blur(20px);
}
.form-element-title {
    color: #00bfff;
    margin-bottom: 0;
}
.form-field {
    border-color: #00bfff;
}
.form-field-red {
    border-color: rgb(246, 80, 80);
}
.avatar-button:hover {
    transition: all 0.5s;
    transform: rotateY(180deg);
}
.message-count {
    color: #adcfdb;
    margin-left: 2rem;
    font-size: 0.7rem;
}